__pycache__/
.dmypy.json
.ipynb_checkpoints/
newarticles.db
news.duckdb
homicide_data.csv
apcs.py
shr_mass.pkl
secr_apis/
.vscode/
.cursor/
.DS_Store
Ocasio.Emily.SummaryPhrase.docx
Ocasio.Emily.VoiceMemo.docx
test.ipynb
test1/test.txt
SHR65_23.csv
SHR65_23.xlsx
articles_1999.csv
calculations/other_papers.ipynb
uuid.c
uuid.dylib
newsources.ipynb
code_analyzer.py
.codegpt